@import "tailwindcss";

@theme {
  --font-playfair: "PlayFair Display", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-rich-black: #0B0C10;
  --color-off-white: #F5F5F5;
  --color-royal-gold: #D4AF37;
  --color-charcoal-black: #1F1F1F;
  --color-muted-gray: #7C7C7C;
}


@layer base {
  html, body {
    @apply bg-rich-black font-inter
  }
  * {
    scroll-behavior: smooth;
  }
  h1 {
    @apply text-royal-gold text-2xl font-playfair
  }
  p {
    @apply text-off-white font-inter
  }
}

@layer utilities {
  .card {
    @apply bg-charcoal-black p-6 rounded-xl shadow-md
  }
}